from dpipe_configs.assets.model.torch_model import *
from dpipe_configs.assets.batch_iter.patch_3d_strat import *
from dpipe.batch_predict.patch_3d_fixed import Patch3DFixedPredictor

from functools import partial

import torch.nn as nn

from dpipe.model_core.layers import ConvBlock3d, ResBlock3d, compose_blocks, CenteredCrop, SplitCat, PreActivation3d

batch_predict = Patch3DFixedPredictor(
    x_patch_sizes=predictor_x_patch_sizes,
    y_patch_size=predictor_y_patch_size,
    padding_mode="min",
)

# MODEL
init_structure = [n_chans_in, 30, 30]
structure = [30, 40, 40, 50]

activation = partial(nn.functional.relu, inplace=True)

cb = partial(ConvBlock3d, kernel_size=3, activation=activation)
rb = partial(ResBlock3d, kernel_size=3, activation=activation)

path1 = nn.Sequential(
    CenteredCrop([16, 16, 16]),
    *compose_blocks(init_structure, get_block=cb),
    *compose_blocks(structure, get_block=rb),
)

path2 = nn.Sequential(
    nn.AvgPool3d(kernel_size=3),
    *compose_blocks(init_structure, get_block=cb),
    *compose_blocks(structure, get_block=rb),
    nn.Upsample(scale_factor=3)
)

inner = SplitCat(path1, path2)

model_core = nn.Sequential(
    inner,
    rb(100, 150, kernel_size=1, activation=activation),
    PreActivation3d(150, n_chans_out, kernel_size=1, activation=activation),
    nn.BatchNorm3d(n_chans_out),
)
