from dpipe_configs.assets.model.torch_model import *
from dpipe_configs.assets.batch_iter.patch_3d_strat import *
from dpipe.batch_predict.patch_3d_fixed import Patch3DFixedPredictor

from functools import partial

import torch.nn as nn

import dpipe.model_core.layers as lrs

batch_predict = Patch3DFixedPredictor(
    x_patch_sizes=predictor_x_patch_sizes,
    y_patch_size=predictor_y_patch_size,
    padding_mode="min",
)

# MODEL
init_structure = [n_chans_in, 30, 30]
structure = [30, 40, 40, 50]

activation = partial(nn.functional.relu, inplace=True)

rb = partial(lrs.ResBlock3d, kernel_size=3, activation=activation)

path1 = nn.Sequential(
    lrs.CenteredCrop([16, 16, 16]),
    lrs.make_res_init(init_structure, kernel_size=3, padding=0, activation=activation),
    *lrs.make_pipeline(structure, make_transformer=rb),
)

path2 = nn.Sequential(
    nn.AvgPool3d(kernel_size=3),
    lrs.make_res_init(init_structure, kernel_size=3, padding=0, activation=activation),
    *lrs.make_pipeline(structure, make_transformer=rb),
    nn.Upsample(scale_factor=3)
)

model_core = nn.Sequential(
    lrs.SplitCat(path1, path2),
    rb(100, 150, kernel_size=1, activation=activation),
    lrs.PreActivation3d(150, n_chans_out, kernel_size=1, activation=activation, bias=False),
    nn.BatchNorm3d(n_chans_out),
)
