from dpipe import commands
from dpipe.io import load_json
import dpipe.transformers as transformers

makefile = "train_msegm_threshold_eval"
thresholds_path = console.thresholds_path

load_y = dataset.load_msegm
n_chans_out = dataset.n_chans_msegm

find_thresholds = commands.find_dice_threshold(
    load_msegm=dataset.load_msegm,
    ids=ids,
    predictions_path=console.predictions_path,
    thresholds_path=thresholds_path,
)

binarize = commands.transform(
    input_path=console.input_path,
    output_path=console.output_path,
    transform_fn=transformers.binarize(
        # lazy
        thresholds=load_json(path=thresholds_path)
    ))

predictions_path = console.predictions_path
dices_path = console.dices_path

compute_dices = commands.compute_dices(
    load_msegm=dataset.load_msegm,
    predictions_path=predictions_path,
    dices_path=dices_path
)
