@extends "mscan.config"

makefile = "train_msegm_threshold_eval"
thresholds_path = console.thresholds_path

experiment = experiment:flat
    makefile = "train_msegm_threshold_eval"
    config_path = console.config_path
    experiment_path = console.experiment_path
    split = split

load_x = dataset.load_mscan
load_y = dataset.load_msegm
n_chans_out = dataset.n_chans_msegm

find_thresholds = command:find_dice_threshold
    load_msegm = dataset.load_msegm
    ids = ids
    predictions_path = console.predictions_path
    thresholds_path = thresholds_path

binarize = command:transform
    input_path = console.input_path
    output_path = console.output_path
    transform_fn = transform:binarize
        @lazy
        thresholds = io:json
            path = thresholds_path

compute_dices = command:compute_dices
    load_msegm = dataset.load_msegm
    predictions_path = console.predictions_path
    dices_path = console.dices_path

