experiment = experiment:flat
    makefile = "train_segm_evaluate"
    config_path = config_path
    experiment_path = experiment_path
    split = split

load_x = dataset.load_mscan
load_y = dataset.load_segm

n_chans_in = dataset.n_chans_mscan
n_chans_out = dataset.n_chans_segm

predict = predict:softmax
    @init = false

loss = loss:sparse_softmax_cross_entropy
    @init = false

pred2msegm = transform:segm_prob2msegm
    @init = false
    dataset = dataset
