makefile = "train_segm_evaluate"

predictions2msegm = command:transform
    input_path = os:console.input_path
    output_path = os:console.output_path
    transform_fn = transform:segm_prob2msegm
        @init = false
        dataset = dataset

load_y = dataset.load_segm
n_chans_out = dataset.n_chans_segm

logits2pred = logits2pred:softmax
    @init = false

logits2loss = logits2loss:sparse_softmax_cross_entropy
    @init = false
