from .mscan import *

makefile = "train_segm_evaluate"

predictions2msegm = commands.transform(
    input_path = console.input_path,
    output_path = console.output_path,
    transform_fn = transform.segm_prob2msegm(
        #lazy
        dataset = dataset
    )
)

load_x = dataset.load_mscan
load_y = dataset.load_segm
n_chans_out = dataset.n_chans_segm
