from .image import *

import dpipe.commands as commands
from dpipe.medim.metrics import compute_dices_from_segm_prob

load_y = dataset.load_segm
n_chans_out = dataset.n_chans_segm

makefile = "train-predict-evaluate_individual-full"

final_metrics = {
    'dice': compute_dices_from_segm_prob(
        # lazy
        segm2msegm=dataset.segm2msegm
    )
}

evaluate = commands.evaluate_individual_metrics(
    load_y_true=load_y,
    metrics=final_metrics,
    predictions_path=console.predictions_path,
    results_path=console.results_path
)
