from dpipe.train.train import train_base
from dpipe.train.validator import validate

log_path = console.log_path
val_metrics = None

train = train_base(
    # lazy
    model=model,
    batch_iter=batch_iter,
    n_epochs=n_epochs,
    log_path=log_path,
    lr_policy=lr_policy,
    validate=validate(
        # lazy
        load_x=load_x,
        load_y=load_y,
        ids=val_ids,
        metrics=val_metrics,
        validate_fn=batch_predict.validate(
            # lazy
            validate_fn=model.do_val_step
        )
    )
)

