from dpipe.train.train import train_base
from dpipe.train.validator import validate

log_path = console.log_path
val_metrics = None

validator = validate(
    # lazy
    load_x=load_x,
    load_y=load_y,
    ids=val_ids,
    metrics=val_metrics,
    validate_fn=batch_predict.validate(
        # lazy
        validate_fn=model.do_val_step
    )
)

train = train_base(
    # lazy
    model=model,
    batch_iterator=batch_iterator,
    n_epochs=n_epochs,
    log_path=log_path,
    lr_policy=lr_policy,
    validator=validator
)
