train = train:train_segm
    @lazy

    n_epochs = n_epochs
    lr_init = 0.1
    lr_dec_mul = lr_dec_mul
    patience = 5
    rtol = 0.03
    atol = 0.01

    model = model
    val_ids = val_ids
    dataset = dataset
    log_path = console.log_path
    batch_predict = batch_predict
    train_batch_iter_factory = batch_iter_factory
