n_epochs = 120
lr_dec_mul = 0.5
train = train.train_msegm
    @init = false

    n_epochs = n_epochs
    lr_init = 0.1
    lr_dec_mul = lr_dec_mul
    patience = 5
    rtol = 0.03
    atol = 0.01
    model = model
    train_batch_iter_factory = batch_iter_factory
    val_ids = val_ids
    dataset = dataset
    batch_predict = batch_predict

