train = train.train_msegm
    @init = false
    atol = 0.01
    lr_dec_mul = 0.7
    lr_init = 0.1
    n_epochs = n_epochs
    patience = 5
    rtol = 0.03

    model = model
    train_batch_iter_factory = batch_iter_factory
    val_ids = val_ids
    dataset = dataset
    batch_predict = batch_predict
