train = train:train_segm
    @lazy
    n_epochs = n_epochs
    lr_init = lr_init
    lr_dec_mul = lr_dec_mul
    patience = patience
    rtol = rtol
    atol = atol

    model = model
    val_ids = val_ids
    dataset = dataset
    log_path = console.log_path
    batch_predict = batch_predict
    train_batch_iter_factory = batch_iter_factory
