experiment = experiment.flat
    makefile = "train_msegm_threshold_eval"
    config_path = config_path
    experiment_path = experiment_path
    split = split

load_x = meta.extractor
    property = "load_mscan"
    module = dataset

load_y = meta.extractor
    property = "load_segm"
    module = dataset

n_chans_in = meta.extractor
    property = "n_chans_mscan"
    module = dataset

n_chans_out = meta.extractor
    property = "n_chans_msegm"
    module = dataset

predict = predict.sigmoid
    @init = false

loss = loss.sigmoid_cross_entropy
    @init = false

