experiment = experiment.flat
    makefile = "train_segm_evaluate"
    config_path = config_path
    experiment_path = experiment_path
    split = split

load_x = meta.extractor
    property = "load_mscan"
    module = dataset

load_y = meta.extractor
    property = "load_segm"
    module = dataset

n_chans_in = meta.extractor
    property = "n_chans_mscan"
    module = dataset

n_chans_out = meta.extractor
    property = "n_chans_segm"
    module = dataset

predict = predict.softmax
    @init = false

loss = loss.sparse_softmax_cross_entropy
        @init = false

pred2msegm = transform.segm_prob2msegm
    @init = false
    dataset = dataset
