from dpipe.train.batch_iter import make_batch_iter_from_finite
from dpipe.batch_iter.slices import slices

batch_iter = make_batch_iter_from_finite(
    get_batch_iter=slices(
        # lazy
        ids=train_ids,
        load_x=load_x,
        load_y=load_y,
        batch_size=batch_size,
        shuffle=True
    )
)
