train_ids = io:json(path=io:console.train_ids_path)
val_ids = io:json(path=io:console.val_ids_path)
ids = io:json(path=io:console.ids_path)

train_model = command:train_model
    train_fn = train_fn
    model = model
    save_model_path = io:console.save_model_path
    restore_model_path = io:console.restore_model_path

predict = command:predict
    ids = ids
    output_path = is:console.output_path
    load_x = load_x
    predict_object = predict_object

compute_dices = command:compute_dices
    load_msegm = dataset.load_msegm
    predictions_path = io:console.predictions_path
    dices_path = io:console.dices_path
