console = io:console

train_ids = io:json(path=console.train_ids_path)
val_ids = io:json(path=console.val_ids_path)
ids = io:json(path=console.ids_path)

load_x = dataset.load_mscan
n_chans_in = dataset.n_chans_mscan

save_model_path = console.save_model_path
restore_model_path = console.restore_model_path


build_experiment = experiment:flat
    makefile = makefile
    config_path = console.config_path
    experiment_path = console.experiment_path
    split = split

train_model = command:train_model
    train = train
    model = model
    save_model_path = save_model_path

predict = command:predict
    ids = ids
    output_path = console.output_path
    load_x = load_x
    frozen_model = frozen_model
    batch_predict = batch_predict

compute_dices = command:compute_dices
    load_msegm = dataset.load_msegm
    predictions_path = console.predictions_path
    dices_path = console.dices_path
