@extends(
    "brats.base.config"
    // TODO
    "assets/batch_iter/3d_patch_strat.config"

	"assets/model/tnet3d.config"
	"assets/problem/segm.torch.config"
)

structure = [
    [[8],      [16, 32], [64, 64, 64, 16]],
    [[16, 16], [16,],    [32, 32]],
    [[32, 32], [32,],    [64, 32]],
    [[64, 64], [64,],    [128, 64]],
    [[64, 64, 64]]
]

torch_lib = meta:import
    module = "torch"

optimize = torch_lib.optim.Adam
