@extends "assets/problems/segm.config" "assets/junk/json_loaders.config"
"assets/brats_original" "assets/slices_iter" "assets/models/unet2d" "assets/training/deepmedic_brats.config"

data_path = "/nmnt/t01-ssd/brats2017/train/"
metadata_rpath = "meta_subset.csv"
batch_size = 20
lr_dec_mul = 0.7
n_epochs = 2
