train_ids = meta.from_json
    path = train_ids_path
val_ids = meta.from_json
    path = val_ids_path
ids = meta.from_json
    path = ids_path

experiment = experiment.flat
    makefile = "train_segm_evaluate"
    config_path = config_path
    experiment_path = experiment_path
    split = split.cv_111
        n_splits = 5
        val_size = 5
        dataset = dataset

load_x = meta.extractor
    property = "load_mscan"
    module = dataset

load_y = meta.extractor
    property = "load_segm"
    module = dataset

predict = predict.softmax
    @init = false

model = model.model
    model_core = model_core
    predict = predict
    loss = loss.sparse_softmax_cross_entropy
        @init = false

    optimize = optimize.tf_optimize
        @init = false
        tf_optimizer_name = "AdamOptimizer"

frozen_model = model.frozen_model
    model_core = model_core
    predict = predict
    restore_model_path = restore_model_path

pred2msegm = transform.segm_prob2msegm
    @init = false
    dataset = dataset
