import(
    "brats.tnet.config"
)

stride = 3

structure = [
    [[],      [],                [8]],
    [[8, 8],  [16 , 16, 32, 32], [64]],
    [[16, 16, 32, 32, 64, 64]],
]

batch_size = 16

spatial_size = (145, 181, 145)

logits2loss = torch:SoftmaxCrossEntropy(n_classes=n_chans_out)

batch_predict = batch_predict:patch_3d_fixed
    x_patch_sizes = [[181, 208, 181]]
    y_patch_size = [181, 208, 181]
    padding_mode = "min"
