from .brats_base import *
from .assets.problem.segm import *
from .assets.batch_iter.patch_3d_strat import *
from .assets.model.deepmedic_els import *

from functools import partial

import torch
from torch.nn.functional import softmax, relu

from dpipe.torch.utils import softmax_cross_entropy
from dpipe.train.lr_policy import Decreasing

activation = relu
logits2pred = partial(softmax, dim=1)
logits2loss = softmax_cross_entropy

downsample = 'avg'
upsample = 'neighbour'
dropout = Fals

x_patch_sizes = [[25, 25, 25], [57, 57, 57]]
y_patch_size = [9, 9, 9]

batch_size = 128

n_epochs = 120
n_iters_per_epoch = 200

# Batch iter
nonzero_fraction = 0.5

lr_init = 0.1

optimize = torch.optim.SGD(
    # lazy
    lr=lr_init,
    momentum=0.9,
    nesterov=True
)

lr_policy = Decreasing(
    trace_train=True,
    lr_init=lr_init,
    lr_dec_mul=0.5,
    patience=10,
    atol=0.01,
    rtol=0.03,
)

predictor_x_patch_sizes = [[106, 106, 106], [138, 138, 138]]
predictor_y_patch_size = [90, 90, 90]
