@extends(
    "brats.base.config"
	"assets/batch_iter/3d_patch_strat_quantiles.config"
	"assets/model/deepmedic_quantiles.config"
	"assets/problem/segm.tf.config"
)


optimize = tf:optimize
    @lazy
    tf_optimizer_name = "MomentumOptimizer"
    use_nesterov = true
    momentum = 0.9

n_quantiles = 21
