import (
	"assets/core.config",
	"assets/batch_iter/3d_patch_quantiles_coordinates.config"
	"assets/dataset/brats.config",
	"assets/data_source/cobrain/brats.config"
	"assets/model/deepmedic_quantiles_coordinates.config",
	"assets/problem/segm.config",
	"assets/training/deepmedic_brats.config",
)

n_quantiles = 21
n_epochs = 120
lr_dec_mul = 0.5
