@extends "isles.config"

dataset = dataset_wrapper.cached
    dataset = dataset_wrapper.normalized
        mean = true
        std  = true

        dataset = dataset.csv_multi
            data_path = data_path
            modalities = ["DWI" "Flair" "T1" "T2"]
            targets = ["OT"]
            metadata_rpath = "siss2015.csv"

model_core = model_core.unet2d
    channels = [64 128 256]

    n_chans_in = meta.extractor
        property = "n_chans_mscan"
        module = dataset

    n_chans_out = meta.extractor
        property = "n_chans_msegm"
        module = dataset

batch_size = 20