from .assets.core import *
from .assets.model.unet2d import *
from .assets.problem.msegm_base import *
from .assets.training.validate import *
from .assets.training.base import *
from .assets.dataset.isles15 import *
from .assets.batch_iter.slices import *

from dpipe.batch_predict.slice import Slice2D
from dpipe.medim.metrics import calc_max_dices
from dpipe.train.lr import decreasing
from dpipe.tf.utils import sigmoid, sigmoid_cross_entropy, optimize as optimizer

# model
unet_channels = [16]

logits2pred = sigmoid
logits2loss = sigmoid_cross_entropy
optimize = optimizer(
    # lazy
    tf_optimizer_name="AdamOptimizer"
)

# train
metrics = {
    "max_dice": calc_max_dices
}

lr = decreasing(
    atol=0.01,
    lr_dec_mul=0.7,
    lr_init=1e-3,
    patience=5,
    rtol=0.03,
)

batch_size = 20
batch_predict = Slice2D()
n_epochs = 2

# dataset
data_path = "/nmnt/x04-hdd/ISLES/"
metadata_rpath = "siss2015.csv"
