@extends "isles15.config"

dataset = dataset_wrapper.cached
    dataset = dataset_wrapper.normalized
        mean = true
        std  = true

        dataset = dataset_wrapper.add_groups_from_df
            group_col = "patient"

            dataset = dataset.csv_multi
                data_path = data_path
                modalities = ["DWI" "Flair" "T1" "T2"]
                targets = ["OT"]
                metadata_rpath = "augmented_siss.csv"

experiment = experiment.flat
    makefile = "train_msegm_threshold_eval"
    config_path = config_path
    experiment_path = experiment_path
    split = split.group_cv_111
        n_splits = 5
        val_size = 5
        dataset = dataset
