@extends(
	"assets/core/core.config",
	"assets/dataset/wmh17.config",
	"assets/model/deepmedic_els.config",
	"assets/problem/segm.tf.config",
	"assets/training/segm.config",
	"assets/batch_iter/3d_patch_strat.config"
)

data_path = "/home/mikhail/nhw/data/derivatives/datasink/preproc/"
metadata_rpath = "meta_subset.csv"
batch_size = 20
lr_dec_mul = 0.7
n_epochs = 2

val_size = 4
modalities = ["flair_flairspace", "t1_flairspace", "brainmask_flairspace"]
target = "target_flairspace"
mask_modality_id = -1
mask_value = 1

optimize = tf:optimize
    @lazy
    tf_optimizer_name = "AdamOptimizer"
