from functools import partial

import dpipe.commands as commands
from dpipe.config import if_missing, run, lock_experiment_dir
from dpipe.medim.io import ConsoleArguments, load_json
from dpipe.experiment import flat
from dpipe.torch.train import train_model as train_base
from dpipe.train.validator import compute_metrics

console = ConsoleArguments()

train_ids = load_json('train_ids.json')
val_ids = load_json('val_ids.json')
test_ids = load_json('test_ids.json')

saved_model_path = 'model.pth'

config_path = console(config_path=__file__)
experiment_path = console.experiment_path
build_experiment = flat(
    config_path=config_path,
    experiment_path=experiment_path,
    split=split
)

log_path = 'train_logs'
checkpoints_path = 'checkpoints'
policies = {}
train = train_base(
    model, batch_iter, n_epochs, lr, log_path, checkpoints_path, validate_step, **policies
)

train_model = lambda save_model_path: run(train, model.save(save_model_path))

val_metrics = {}
val_predict = predict

validate_step = partial(
    compute_metrics,
    predict=val_predict,
    load_x=load_x,
    load_y=load_y,
    ids=val_ids,
    metrics=val_metrics,
)

predict_to_dir = lambda ids, output_path: (model.load(saved_model_path), commands.predict(
    ids=ids,
    output_path=output_path,
    load_x=load_x,
    predict_fn=predict,
))

test_predictions_path = 'test_predictions'

run_train_predict = run_experiment = (
    if_missing(train_model, save_model_path=saved_model_path),
    if_missing(partial(predict_to_dir, ids=test_ids), output_path=test_predictions_path)
)
