from dpipe.io import ConsoleArguments, load_json
from dpipe.experiment.flat.base import flat
import dpipe.commands as commands

console = ConsoleArguments()

train_ids = load_json(path=console.train_ids_path)
val_ids = load_json(path=console.val_ids_path)
ids = load_json(path=console.ids_path)

save_model_path = console.save_model_path
restore_model_path = console.restore_model_path

build_experiment = flat(
    makefile=makefile,
    config_path=console.config_path,
    experiment_path=console.experiment_path,
    split=split
)

train_model = commands.train_model(
    train=train,
    model=model,
    save_model_path=save_model_path
)

predict = commands.predict(
    ids=ids,
    output_path=console.output_path,
    load_x=load_x,
    frozen_model=frozen_model,
    batch_predict=batch_predict
)
