batch_iter_factory = batch_iter_factory.inf
    n_iters_per_batch = n_iters_per_batch

    get_batch_iter = batch_iter.patch_3d_strat_augm
        @lazy
        batch_size = batch_size
        x_patch_sizes = x_patch_sizes
        y_patch_size = y_patch_size
        nonzero_fraction = nonzero_fraction
        buffer_size = 10
        expiration_time = 200
        pool_size = 30
        n_workers = 5

        ids = train_ids
        load_x = load_x
        load_y = load_y
