batch_iter_factory = batch_iter_factory:inf
    n_iters_per_batch = 100

    get_batch_iter = batch_iter:patch_3d_strat_quantiles_coordinates
        @lazy
        batch_size = 64
        x_patch_sizes = [[25, 25, 25], [57, 57, 57]]
        y_patch_size = [9, 9, 9]
        nonzero_fraction = 0.5
        buffer_size = 10
        ids = train_ids
        load_x = load_x
        load_y = load_y
        n_quantiles = n_quantiles
