from dpipe.batch_iter_factory import BatchIterFactoryInf
from dpipe.batch_iter.patch_3d import make_patch_3d_iter

batch_iter_factory = BatchIterFactoryInf(
    n_iters_per_batch=n_iters_per_batch,

    get_batch_iter=make_patch_3d_iter(
        #lazy
        batch_size=batch_size,
        x_patch_sizes=x_patch_sizes,
        y_patch_size=y_patch_size,
        buffer_size=10,
        ids=train_ids,
        load_x=load_x,
        load_y=load_y
    ))
