from dpipe.train.batch_iter import make_batch_iter_from_infinite
from dpipe.batch_iter.patch_3d import make_patch_3d_iter

batch_iter = make_batch_iter_from_infinite(
    get_batch_iter=make_patch_3d_iter(
        # lazy
        batch_size=batch_size,
        x_patch_sizes=x_patch_sizes,
        y_patch_size=y_patch_size,
        buffer_size=10,
        ids=train_ids,
        load_x=load_x,
        load_y=load_y
    ),
    n_iters_per_epoch=n_iters_per_epoch
)
