from itertools import islice
from dpipe.batch_iter.patch_3d import make_patch_3d_strat_iter

batch_generator = islice(
    # lazy
    make_patch_3d_strat_iter(
        batch_size=batch_size,
        x_patch_sizes=x_patch_sizes,
        y_patch_size=y_patch_size,
        buffer_size=10,
        ids=train_ids,
        load_x=load_x,
        load_y=load_y
    ), n_iters_per_batch,
)
