from dpipe.batch_iter.slices import slices
from dpipe.batch_iter_factory import BatchIterFactoryFin

batch_iter_factory = BatchIterFactoryFin(
    get_batch_iter=slices(
        # lazy
        ids=train_ids,
        load_x=load_x,
        load_y=load_y,
        batch_size=batch_size,
        shuffle=True
    )
)
