from .simple_problem import *

from dpipe.medim.metrics import aggregate_metric
from dpipe.medim.metrics import compute_dices_from_segm_prob

load_y = dataset.load_segm
n_chans_out = dataset.n_chans_segm

metric = compute_dices_from_segm_prob(
    # lazy
    segm2msegm=dataset.segm2msegm
)

final_metrics = {
    'dice': metric
}

val_metrics = {
    "dice_scores": aggregate_metric(
        # lazy
        metric=metric
    )
}
