from dpipe.model_core.deepmedic_els import DeepMedicEls
from dpipe.batch_predict.patch_3d_fixed import Patch3DFixedPredictor

from .torch_model import *

model_core = DeepMedicEls(
    n_chans_in=n_chans_in,
    n_chans_out=n_chans_out
)

batch_predict = Patch3DFixedPredictor(
    x_patch_sizes=predictor_x_patch_sizes,
    y_patch_size=predictor_y_patch_size,
    padding_mode="min",
)
