@extends "deepmedic_els.config"

model_core = model_core:deepmedic_feat_coordinates
    with_dropout = false
    downsampling_type = "sampling"
    n_chans_in = n_chans_in
    n_chans_out = n_chans_out
    n_features = n_quantiles

batch_predict = batch_predict:patch_3d_fixed_quantiles_coordinates
    x_patch_sizes = [[106, 106, 106], [138, 138, 138]]
    y_patch_size = [90, 90, 90]
    n_quantiles = n_quantiles
    padding_mode = "min"
