model_core = model_core:deepmedic_els
    with_dropout = false
    downsampling_type = "sampling"
    n_chans_in = n_chans_in
    n_chans_out = n_chans_out

model = model:tf
    model_core = model_core
    logits2pred = logits2pred
    logits2loss = logits2loss
    optimize = optimize

frozen_model = frozen_model:tf
    model_core = model_core
    logits2pred = logits2pred
    restore_model_path = restore_model_path

batch_predict = batch_predict:patch_3d_fixed
    x_patch_sizes = [[106, 106, 106], [138, 138, 138]]
    y_patch_size = [90, 90, 90]
    padding_mode = "min"
