from dpipe.model_core.tnet import TNet3d
from dpipe.torch.model import TorchModel, TorchFrozenModel

model_core = TNet3d(
    n_chans_in=n_chans_in,
    n_chans_out=n_chans_out,
    structure=structure,
    stride=stride,
    activation=activation
)

model = TorchModel(
    model_core=model_core,
    logits2pred=logits2pred,
    logits2loss=logits2loss,
    optimize=optimize
)

frozen_model = TorchFrozenModel(
    model_core=model_core,
    logits2pred=logits2pred,
    restore_model_path=restore_model_path,
)
