from .torch_model import *

from dpipe.model_core.tnet import TNet3d
from dpipe.batch_predict.patch_3d_fixed import Patch3DFixedPredictor

model_core = TNet3d(
    n_chans_in=n_chans_in,
    n_chans_out=n_chans_out,
    structure=structure,
    stride=stride,
    activation=activation
)

batch_predict = Patch3DFixedPredictor(
    x_patch_sizes=predictor_x_patch_sizes,
    y_patch_size=predictor_y_patch_size,
    padding_mode="min",
)
