torch = meta:import
    module = "torch"

model_core = model_core:tnet3d
    n_chans_in = n_chans_in
    n_chans_out = n_chans_out
    structure = structure
    stride = stride
    activation = activation

model = model:torch
    model_core = model_core
    logits2pred = logits2pred
    logits2loss = logits2loss
    optimize = optimize

frozen_model = frozen_model:torch
    model_core = model_core
    logits2pred = logits2pred
    restore_model_path = restore_model_path
