model_core = model_core:unet2d
    channels = [64 128 256]
    n_chans_in = n_chans_in
    n_chans_out = n_chans_out

model = model:model
    model_core = model_core
    logits2pred = logits2pred
    logits2loss = logits2loss
    optimize = optimize:tf_optimize
        @init = false
        tf_optimizer_name = "AdamOptimizer"

frozen_model = model:frozen_model
    model_core = model_core
    logits2pred = logits2pred
    restore_model_path = console.restore_model_path

batch_predict = batch_predict:slice2d
