model_core = model_core:unet2d
    channels = [64 128 256]
    n_chans_in = n_chans_in
    n_chans_out = n_chans_out

model = model:tf
    model_core = model_core
    logits2pred = logits2pred
    logits2loss = logits2loss
    optimize = optimize

frozen_model = frozen_model:tf
    model_core = model_core
    logits2pred = logits2pred
    restore_model_path = restore_model_path

batch_predict = batch_predict:slice2d()
