from dpipe.model_core.unet import UNet2D
from dpipe.tf.model import TFModel, TFFrozenModel

model_core = UNet2D(
    channels=unet_channels,
    n_chans_in=n_chans_in,
    n_chans_out=n_chans_out,
)

model = TFModel(
    model_core=model_core,
    logits2pred=logits2pred,
    logits2loss=logits2loss,
    optimize=optimize,
)

frozen_model = TFFrozenModel(
    model_core=model_core,
    logits2pred=logits2pred,
    restore_model_path=restore_model_path
)
